.issue {
  margin: 2em auto;
}

mat-card {
  max-width: 900px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

.selects {
  width: 100%;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0;
}

.editable {
  box-sizing: border-box;
  margin-right: 5px;
  padding: 10px;
  padding-left: 3px;
}

.editable:hover {
  background-color: lightgray;
  cursor: pointer;
}

.editable:focus {
  background-color: white;
  border: 1px solid lightgray;
  cursor: default;
}

::ng-deep .mat-form-field-underline {
  display: none;
}